<style>
  .img-center {margin:0 auto;}
</style>
<div class="container-fluid">
  <div class="row">
    <h1 class="text text-center"> FSM Tutorial</h1>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="row">
    <img class="img-responsive img-center" src = "img/montage.jpg">
    <br>
    <br>
    <br>
    <br>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5">
    </div>  
    <div class="col-md-1">
      <a class="btn btn-default btn-primary" href="/#/register">Signup</a>
    </div>  
    <div class="col-md-1">
      <a class="btn btn-default btn-success" href="/#/login">Login</a>
    </div>  
    <div class="col-md-5">
    </div>  
  </div>
</div>
